@use "styles/variable" as *;

.defaultPay {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 16px;

    .errorMsg {
      @include errorMsg;
    }

    .contArea {
      padding: 20px 20px 24px;
      color: $Black1;
      background: #fff;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.04);
      border-radius: 8px;

      .red {
        color: $Red1;
      }

      .areaTitle {
        font-weight: 700;
      }

      .valueCont {
        margin: 20px 0 0;
        font-size: 14px;
      }

      .chkBtn {
        display: flex;
        align-items: center;
        gap: 8px;

        &.on {
          .chkBox {
            background: $Blue3;
            border-color: $Blue3;
          }
        }

        .chkBox {
          width: 18px;
          height: 18px;
          padding: 3.5px;
          border: 1.5px solid $White4;
          border-radius: 50%;

          span {
            // display: none;
            display: block;
            width: 100%;
            height: 100%;
            background: #fff;
            border-radius: inherit;
          }
        }
      }

      &.jobOpeningArea {
        .valueCont {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 10px 0 0;

          .info {
            color: $Gray1;
          }
        }
      }

      &.inputArea {
        .inputList {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 16px;

          li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            @include formKeyBox;

            .valueBox {
              @include formValueBox;

              .inputBar {
                .inputBox {
                  .certificationBtn {
                    font-size: 12px;
                    font-weight: 700;
                    color: $Blue3;
                    margin: 0 16px 0 0;

                    &:disabled {
                      color: $Gray1;
                      background: $White1;
                    }
                  }
                }

                .codeBtn {
                  height: 100%;
                  padding: 0 16px;
                  font-size: 14px;
                  white-space: nowrap;
                  color: $Blue3;
                  border: 1px solid $White4;
                  border-radius: 6px;

                  &:disabled {
                    color: $Gray1;
                    background: $White1;
                  }
                }
              }

              .errorMsg {
                font-size: 12px;
                color: $Red1;
              }

              .limitTime {
                font-size: 12px;
                color: $Blue3;
              }

              .success {
                font-size: 12px;
                color: $Blue3;
              }
            }
          }
        }
      }

      &.personArea {
        .valueCont {
          .infoList {
            display: flex;
            flex-direction: column;
            gap: 10px;
  
            li {
              display: flex;
              gap: 10px;
              font-size: 14px;
  
              .key {
                width: 56px;
                font-weight: 700;
                color: $Gray3;
              }
  
              hr {
                width: 1px;
                height: 14px;
                background: $White4;
                border: none;
              }
  
              .value {
                color: $Gray1;
              }
            }
          }
        }
      }
    }


    .btnArea {
      .confirmBtn {
        width: 100%;
        height: 50px;
        margin: 16px 0 0;
        color: #fff;
        background: linear-gradient(90.38deg, #616ae3 0.12%, #5a96de 88.5%);
        box-shadow: 0px 3px 4px rgba(134, 109, 248, 0.3);
        border-radius: 8px;
      }
    }
  }
}
