$Bg1: #f7f8fa;
$Bg2: #f2f4f7;
$Bg3: #254aad;

$Black1: #333;
$Black2: #3b3b3b;

$Gray1: #999;
$Gray2: #878787;
$Gray3: #6a6a6a;

$White1: #f8f8f8;
$White2: #eee;
$White3: #e6e6e6;
$White4: #ddd;

$Red1: #ff5050;

$Orange1: #ea694c;

$Yellow1: #fae64c;

$Green1: #5ac466;
$Green2: #65c466;

$Blue1: #2f96ff;
$Blue2: #415ba3;
$Blue3: #6977f9;
$Blue4: #f4f5fd;

$Sky1: #61acf8;

$Placeholder1: #eee;

$RangeThumb1: #eef0f2;

$Toggle1: #e1e3e6;

$Process1: #4065f6;

:export {
  Orange1: $Orange1;
  Blue3: $Blue3;
  RangeThumb1: $RangeThumb1;
}
