@import "./colors.scss";
@import "./variable";
@import "./reset.scss";
@import "./slick-theme.scss";
@import "./toastify.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

body {
  font-family: NanumSquareNeo, Apple SD Gothic Neo;
}

main {
  width: 100vw;
  min-height: 100vh;
  color: $Black1;
}

a {
  text-decoration: unset;
  color: inherit;
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  font-size: inherit;
  color: inherit;
  background: unset;
  outline: none;
  user-select: auto;
  border: unset;

  &::placeholder {
    color: $White3;
  }
}

textarea {
  &::placeholder {
    color: $Gray1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*:disabled {
  cursor: not-allowed;
}

.nospace {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.quill {
  display: flex;
  flex-direction: column;
  min-height: 360px;

  .ql-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .ql-editor {
      flex: 1;
    }
  }
}
