@use "styles/variable" as *;

.selPopup {
  padding: 6px 0;
  background: #fff;
  border: 1px solid $White2;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  top: 50px;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 60;

  .optList {
    li {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 16px;

      &.on {
        background: $White1;

        p {
          color: $Blue3;
        }

        svg {
          display: block;
        }
      }

      p {
        flex: 1;
        font-size: 14px;
        color: $Gray3;
      }

      svg {
        display: none;
      }
    }
  }
}
