<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260165081084-nh27kbjmlp1ubve9avu3jk74vekbcp09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260165081084-nh27kbjmlp1ubve9avu3jk74vekbcp09</string>
	<key>API_KEY</key>
	<string>AIzaSyCx4Emhrv6yiM52PlenWwF2Uqn7WDBIu7I</string>
	<key>GCM_SENDER_ID</key>
	<string>260165081084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.workout</string>
	<key>PROJECT_ID</key>
	<string>workout-6a9ee</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-6a9ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260165081084:ios:0f71242ddd8ed73c1f4479</string>
</dict>
</plist>