/* .wj-multirow * {
  border-color: var(--tancis-border) !important;
  color: var(--tancis-text) !important;
} */

.wj-flexgrid .wj-cell input.wj-column-selector.wj-column-selector-group {
  transform: scale(1);
}

.wj-flexgrid .cell-changed {
  background-color: lightpink !important;
}

.wj-flexgrid .cell-new {
  background-color: lightgreen !important;
}
